### IntelliJ ###
*.iml
*.ipr
*.iws

### Hidden Files ###
.*

### Package Files ###
*.jar
*.war
*.ear
temp/

### Maven ###
target/

### Gradle ###
build/
bin/

### Custom ###
server/*

### Not Gitignore ###
!.gitignore
